body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

div {
  text-align: center;
}

input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Styling for the anchor tag (Login) */
form a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007BFF;
  font-size: 14px;
  font-weight: bold;
}

form a:hover {
  text-decoration: underline;
  color: #0056b3;
}
